$background : #3498db;

body{
	background-color : $background;
}

input[type="number"]{
    display:none;

    input[type="checkbox"]:checked ~ &{
            display:inline;
            
    }
}

select[type="typecarte"]{
	display:none;
	select[type="checkbox"]:checked ~ &{
            	display: inline;
    }
}


li{
	&.danger{
		color : red;
	}
	&.sucess{
		color : green;
	}
}