body {
  background-color: #3498db; }

input[type="number"] {
  display: none; }
  input[type="checkbox"]:checked ~ input[type="number"] {
    display: inline; }

select[type="typecarte"] {
  display: none; }
  select[type="checkbox"]:checked ~ select[type="typecarte"] {
    display: inline; }

li.danger {
  color: red; }
li.sucess {
  color: green; }
